#enregistrer {
  text-align: center;
  justify-content: center;
  display: flex;

  #f0c98d .submit-button {
    background-color: #f0c98d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #ffe9c7;
    }
  }
}

.inp-margin {
  width: 100%;
}

.fa-solid {
  font-weight: 900;
  margin-left: 10px;
  cursor: pointer;
}



// #modifform {

//   input:focus {
//     border: 4px solid #FFD18E; // Bordure de 4px avec la couleur spécifiée
//     outline: none; // Supprime le contour par défaut des navigateurs
//   }
// }
