// Specific CSS for your home-page


body {
  width: 100%;
  justify-content: center;
}

.banner {
  margin: 20px auto 20px auto;
  width: 1200px;
  height: 300px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.00);
  opacity: var(--sds-size-stroke-border);
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  p {
    padding-right: 10px;
    text-align: end;
  }
}

#buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  button {
    margin-left: 10px;
  }
}

a {
  margin-right: 20px;
  color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.coordonnees {
  padding-top: 20px;
  ul {
    list-style-type: none;
    padding: 0;
    li {
      margin-bottom: 10px;
    }
  }


}
