// Import page-specific CSS files here.
@import "home";
@import "application";

.thick-hr {
  border: none;
  height: 5px;
  /* Définir l'épaisseur de la barre */
  background-color: #FFD18E;
  width: 350px;
  flex-shrink: 0;
}

.btn-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.btn-flex i {
  margin-right: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
