// Import page-specific CSS files here.
@import "home";
@import "application";

.thick-hr {
  border: none;
  height: 5px;
  /* Définir l'épaisseur de la barre */
  background-color: #FFD18E;
  width: 350px;
  flex-shrink: 0;
}

.btn-flex {
  display: flex;
  align-items: center;
}

.btn-flex i {
  margin-right: 10px;
}

.card-body {
  transition: max-height 0.5s ease-out;
  overflow: hidden;
  background-color: #fff;

}

#userCard.expanded .card-body {
  max-height: 1000px;
  /* Une grande valeur pour permettre l'expansion */
}

#userCard .card-body {
  max-height: 100px;
  /* Hauteur initiale limitée pour le contenu minimal */
}

.app-cards-container {}
