#searchapps {
  input:focus {
    border: 4px solid #FFD18E;
  }

}

#modifform {
  input:focus {
    border: 4px solid #FFD18E; // Bordure de 4px avec la couleur spécifiée
    outline: none; // Supprime le contour par défaut des navigateurs
  }
}
