<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <!-- Logo à gauche -->
    <a class="navbar-brand" href="/">
      <img src="path_to_your_logo.png" alt="Logo" style="height: 40px;">
    </a>

    <!-- Titre centré -->
    <div class="mx-auto">
      <span class="navbar-title">Organizer</span>
    </div>

    <!-- Liens d'authentification Devise à droite -->
    <div class="ml-auto">
      <% if user_signed_in? %>
        <span>Bienvenue, <%= current_user.email %>!</span>
        <%= link_to 'Déconnexion', destroy_user_session_path, data: {turbo_method: "delete"} , class: "btn btn-outline-danger ml-2" %>
      <% else %>
        <%= link_to 'S\'inscrire', new_user_registration_path, class: "btn btn-outline-primary ml-2" %>
        <%= link_to 'Connexion', new_user_session_path, class: "btn btn-outline-success ml-2" %>
      <% end %>
    </div>
  </div>
</nav>
