.container-all {

  margin: auto;
  box-shadow: 0px 0px 3px 3px #ffe9c7;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  /* Ajuster pour prendre la pleine largeur disponible */
  max-width: 1200px;
  /* Limite maximale de largeur pour les grands écrans */
  display: flex;
  flex-wrap: wrap;
  /* Centre les cartes horizontalement */
  height: auto;
  align-items: flex-start;
  /* Aligne les cartes en haut */
  margin-bottom: 50px;
}



#logo-card {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  img {
    padding: 10px;
    border-radius: 20px;
  }
}

.card-app {
  border: 1px solid black;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 77vw;
}

.app-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 19px;
  font-size: 17px;
}

.name-count {
  flex-grow: 1;
  padding-left: 10px;
  align-items: center;
  display: flex
}

.change-count {
  font-size: 17px;
  padding-left: 60px;
  color: #FFD18E;
}

// }
// petite carte

.little-card {
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
}

.card-texts {
  margin-left: 10px;
  flex: 1 1 calc(50% - 1rem);
  /* Chaque élément prend 50% de la largeur moins l'espace entre les éléments */
  box-sizing: border-box;
}

.card-texts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  /* Espace entre les éléments */
}

.delete-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  cursor: pointer;
}


.redirect {
  margin-right: 10px;
}

.btn {
  display: flex;
  align-items: center;
  /* Largeur du bouton */
  height: auto;
  /* Hauteur du bouton */
}

.alert-icon {
  margin-right: 8px;
}

.app-info {
  display: flex;
  align-items: center;
}

strong {
  font-size: 18px;
  font-weight: bold;
}
