#warning {
  margin-left: 10px;
}

.custom-btn {
  width: 150px;
  /* Largeur du bouton */
  height: auto;
  /* Hauteur du bouton */
  padding: 5px 20px;
  margin-right: 10px;
  margin-top: 10px;
}

.container-all {
  margin: auto;
  background-color: #FFD18E;
  padding: 10px;
  // margin: 60px;
  border-radius: 10px;
  height: auto;
  width: 1200px;

}

.app-cards-container {
  display: flex;
  flex-direction: column;

}

.app-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.warning-icon {

  font-size: 1.5rem;
  margin-right: 10px;
}

.app-card-header {
  margin: 10px;

  h3 {
    margin-left: 10px;
  }
}

.app-info {
  margin-left: 10px;
}

.little-card {
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
}

.card-text {
  margin-left: 10px;
}

h4 {
  padding-left: 10px;
  font-weight: bold;
}

#image {
  width: 190px;
  height: auto;
  border-radius: 10px;
  overflow: auto;
}


.delete-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  cursor: pointer;
}

.warning-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* Espace entre les lignes */
}

.ms-2 {
  margin-left: 0.5rem;
  /* Espace entre l'icône et le texte */
}

.redirect_links {
  margin-right: 10px;
  margin-bottom: 10px;
}

.icon {
  margin-right: 10px;
}

strong {
  font-weight: bold;
  margin-right: 5px;
}

.alert-icons {
  width: 100%;
  display: flex;
  align-items: center;
}

#warning {
  margin: 0;

}
