// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.custom-btn {
  width: 150px;
  /* Largeur du bouton */
  height: 35px;
  /* Hauteur du bouton */
  padding: 5px 20px;
  margin-right: 10px;
  margin-top: 10px;
}

.container-all {
  background-color: #FFD18E;
  padding: 10px;
  margin: 60px;
  border-radius: 10px;
  height: auto;
  width: 1180px;

}

.app-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}

.app-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

}

.dimension {
  height: 60px;
}

.app-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.app-info-container {
  display: flex;
  align-items: center;
}

.little-card {
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
}

.card-text {
  padding: 10px;
}

h4 {
  padding-left: 10px;
  font-weight: bold;
}

#logo {
  width: 50px;
  height: 70px;
  margin-left: 10px;
  margin-bottom: 20px;
}


.delete {
  color: #000000;
  padding-bottom: 50px;
}

.warning-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* Espace entre les lignes */
}

.ms-2 {
  margin-left: 0.5rem;
  /* Espace entre l'icône et le texte */
}

.redirect_links {
  color: #000000;
}
